<section class="file-input-zone">
    <div class="title">Upload files</div>
    <div class="file-input-wrapper">
        <div class="file-input-container">
            <label for="file1">File 1</label>
            <input type="file" name="file1" id="file1" (change)="onFileChange($event, 1)">
        </div>
        <div class="file-input-container">
            <label for="file2">File 2</label>
            <input type="file" name="file2" id="file2" (change)="onFileChange($event, 2)">
        </div>
    </div>
</section>
<section class="controls">
    <div class="remove-cc-container">
        <input type="checkbox" name="remove-cc" id="remove-cc" [ngModel]="removeCC()" (ngModelChange)="removeCC.set($event)">
        <label for="remove-cc">Remove CC?</label>
        @if (removeCC()) {
            <div>
                <input type="text" name="cc-regex" id="cc-regex"  [ngModel]="removeCCRegExpString()" (ngModelChange)="removeCCRegExpString.set($event)">
            </div>
        }
    </div>
    <button class="merge" (click)="onMergeClick()">Merge files</button>
</section>
<section class="timeline" [style]="sectionHeight()">
    @if (!file1Data().length && !file2Data().length) {
        <div class="no-data-loaded">No files loaded yet!</div>
    } @else {
        <div class="column column-1">
            @for (item of file1Data(); track $index) {
                <div class="timeline-item" [style]="getTimelinePeriodStyle(item.start, item.end)" [title]="item.timestamp">
                    <div class="timeline-number">{{ item.number }}</div>
                    <pre class="timeline-content">{{ item.content }}</pre>
                </div>
            }
        </div>
        <div class="column column-2">
            @for (item of file2Data(); track $index) {
                <div class="timeline-item" [style]="getTimelinePeriodStyle(item.start, item.end)" [title]="item.timestamp">
                    <div class="timeline-number">{{ item.number }}</div>
                    <pre class="timeline-content">{{ item.content }}</pre>
                </div>
            }
        </div>
    }
</section>